<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gogiro.community.CommunityMapper">

    <insert id="insCommunity" useGeneratedKeys="true" keyProperty="iboard">
        insert into t_community
        set iuser = #{iuser},
        title = #{title},
        contents = #{contents}
    </insert>

    <insert id="insCommunityPics">
        INSERT INTO t_commu_pics
        ( iboard, pic )
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            ( #{iboard}, #{pic} )
        </foreach>
    </insert>

    <update id="updCommunity">
        update t_community
        set title = #{title},
        contents = #{contents}
        where iboard = #{iboard}
        and iuser = #{iuser}
    </update>

    <update id="updPicCommunity">
        update t_commu_pics
        set pic = #{pic}
        where iboard = #{iboard}
    </update>

    <select id="selCommunityCount">
        SELECT
        COUNT(*)
        FROM t_community
    </select>

    <select id="selCommunity">
        SELECT a.iboard, a.iuser, b.nickname AS writerName, a.title, a.contents, date(a.created_at) AS createdAt
        FROM t_community a
        JOIN t_user b
        ON a.iuser = b.iuser
        limit #{startIdx}, #{rowCount}
    </select>

    <select id="selPicCommunity">
        select iboard, pic
        from t_commu_pics
        where iboard in (
        <foreach collection="iboard" item="iboard" separator=",">
            #{iboard}
        </foreach>
        )
    </select>

    <!-- entity용 -->
    <select id="entityCommunity">
        SELECT *
        FROM t_community
        WHERE iboard = #{iboard}
    </select>

    <delete id="delCommunity">
        delete from t_community
        where iuser = #{iuser}
        and iboard = #{iboard}
    </delete>

    <delete id="delPicCommunity">
        delete from t_commu_pics
        where iboard = #{iboard}
    </delete>

    <select id="checkCommunity">
        SELECT iboard
        FROM t_community
        WHERE iboard = #{iboard}
    </select>

    <insert id="insCommunityComment">
        INSERT INTO
        t_community_comment
        SET
            iboard= #{iboard},
            iuser= #{iuser},
            contents= #{contents}
    </insert>

    <delete id="delCommunityComment">
        DELETE
        FROM t_community_comment
        WHERE iuser= #{iuser}
        AND icomment= #{icomment}
    </delete>
</mapper>