<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gogiro.shop.ShopMapper">

    <select id="selShopAll">
        SELECT ishop, name, location
        FROM t_shop
        <where>
            <if test="search != null and search != '' ">
                name like CONCAT('%',#{search},'%')
            </if>
        </where>
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <select id="selShopPics">
        SELECT ishop, pic
        FROM t_shop_pic
        WHERE ishop in (
        <foreach collection="pk" item="ishop"  separator=",">
            #{ishop}
        </foreach>
        )
    </select>

    <select id="selShopDetail">
        SELECT A.ishop, A.NAME, A.location, A.`open`,A.tel, round(ifnull(AVG(C.star),0)) AS star,A.`x`, A.`y`,if(D.ishop IS NULL , 0 , 1) AS isBook
        FROM t_shop AS A
        JOIN t_shop_menu AS B
        ON A.ishop = B.ishop
        JOIN t_shop_review C
        ON C.ishop = A.ishop
        LEFT JOIN t_shop_bookmark D
        ON A.ishop = D.ishop
        AND D.iuser = #{iuser}
        WHERE A.ishop = #{ishop}
    </select>

    <select id="selMenuDetail">
        SELECT ishop,menu,price,pic
        FROM t_shop_menu
        WHERE ishop = #{ishop}
    </select>

    <select id="selReviewDetail">
        SELECT a.ishop,a.ireview,c.nickname,a.star,a.review
        FROM t_shop_review a
        JOIN t_user c
        ON a.iuser = c.iuser
        WHERE a.ishop = #{ishop}
    </select>

    <select id="selReviewPicDetail">
        SELECT a.ireview, a.pic
        FROM t_shop_review_pic a
        JOIN t_shop_review b
        on a.ireview = b.ireview
        WHERE b.ishop = #{ishop}


    </select>

    <insert id="postShopReview" useGeneratedKeys="true" keyProperty="ireview">
        INSERT INTO
        t_shop_review
        SET
        ishop = #{ishop},
        iuser = #{iuser},
        star = #{star},
        review = #{review}
    </insert>

    <insert id="postShopReviewPic">
        INSERT INTO
        t_shop_review_pic
        (ireview, pic)
        VALUES
        <foreach collection="pics" item="pic" open="(" close=")" separator="),( ">
            #{ireview}, #{pic}
        </foreach>
    </insert>

    <select id="selShopBookmark">
        SELECT
            iuser
        FROM t_shop_bookmark
        where iuser= #{iuser}
        AND ishop= #{ishop}
    </select>
    <insert id="ShopBookmarkOn">
        INSERT INTO
        t_shop_bookmark
        SET
            iuser= #{iuser},
            ishop=#{ishop}
    </insert>
    <delete id="ShopBookmarkOff">
        DELETE
        FROM t_shop_bookmark
        WHERE iuser= #{iuser}
        AND ishop= #{ishop}
    </delete>
    
    <select id="shopFacilities">
        SELECT b.facility
        FROM t_shop_facilities a
        JOIN t_facilities b
        ON a.ifacil = b.ifacil
        WHERE a.ishop = #{ishop}
    </select>

</mapper>