<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gogiro.user.UserMapper">
    <insert id="signupUser" useGeneratedKeys="true" keyProperty="iuser">
        INSERT INTO t_user
        SET
        email = #{email},
        upw = #{upw},
        name = #{name},
        <if test="nickname != ' '">
        nickname = #{nickname},
        </if>
        birth = #{birth},
        gender = #{gender},
        address = #{address}
        <if test="pic != null and pic != '' ">
            ,pic = #{pic}
        </if>
    </insert>

    <select id="signinUser">
        SELECT upw
        FROM t_user
        WHERE email = #{email}
    </select>

    <update id="updateUser">
        update t_user
        set nickname = #{nickname},
        address = #{address},
        <if test="pic != ' ' and pic != null">
            pic = #{pic}
        </if>
        where iuser = #{iuser}
    </update>
    <select id="selUserInfo">
        SELECT
        email,
        name,
        nickname,
        birth,
        gender,
        address,
        pic
        FROM t_user
        where iuser= #{iuser}
    </select>


    <!-- entity용 -->
    <select id="userEntity">
        SELECT iuser, email, upw, name, nickname
        , birth, gender, address, pic
        , created_at as createdAt
        FROM t_user
        WHERE iuser = #{iuser}
    </select>

    <select id="checkNickname">
        SELECT nickname
        FROM t_user
        WHERE nickname = #{nickname}
    </select>

</mapper>
